.DiceContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    /* border: 2px solid yellow; */
}

.DiceSelectorContainer {
    /* border: 2px solid orange; */
    padding-left: 5%;
    padding-top: 2%;
    
}

.DiceRollContainer {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: flex-end;
    justify-content: flex-start;
    column-gap: 70px;
}

.DiceSelector {
    /* border: 2px solid green; */
    padding: auto;
}

.DiceTextChatAndBoxContainer {
    /* border: 2px solid purple;  */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.DiceHistory {
    width: 235px;
    padding: 1%;
}

.RollText {
    border: 2px solid black;
    width: 100%;
    height: 53vh;
    /* overflow-y: scroll; */
    margin: 2%;
}

.DiceBoxContainer {
    /* border: 2px solid orange; */
    width: 245px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.DiceTextInput {
    width: 220px;
}