.DiceContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    padding: 1%
}

.DiceSelectorContainer {
    padding-left: 5%;
    padding-top: 2%;
    flex-grow:1; 
}

.DiceRollContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: calc(20vw * 0.54);
}

.DiceSelector {
    padding: auto;
}

.TextContainer {
    flex-grow:2;
}

.DiceTextChatAndBoxContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
 
}

.RollText {
    border: 2px solid black;
    border-radius: 20px;
    min-height:49vh;
    max-height: 49vh;
    min-width:19.4vw;
    max-width: 19..4vw; 
    overflow-x: auto; 
    display:flex;
    flex-direction: column;
}

.DiceBoxContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    max-height: 25vh;
    margin-top: 10px;
}


.DiceTextInput {
    min-width: 10vw;
}