.DiceContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    padding: 1%
}

.DiceSelectorContainer {
    padding-left: 5%;
    padding-top: 2%;
    flex-grow:1; 
}

.DiceRollContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    column-gap: 70px;
}

.DiceSelector {
    padding: auto;
}

.TextContainer {
    flex-grow:2;
}

.DiceTextChatAndBoxContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
 
}

.RollText {
    border: 2px solid black;
    max-height: 45vh;
    min-width:10vw;
    overflow: auto;
}

.DiceBoxContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    max-height: 25vh;

}


.DiceTextInput {
    min-width: 10vw;
}