.ComponentsContainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100vw;
  height: 95vh;
  position: fixed;
  flex-grow:3;
  overflow-y:auto;
}

.DiceRollerContainer {
  border: 2px solid black;
  border-radius: 20px;
  margin-right:1%;
  min-width: 20vw;
} 

.NotesAndPlayersContainer {
  border: 2px solid black;
  border-radius:20px;
  min-width:20vw;
  max-width:50vw;
} 