.DM-Player-Container {
    /* height: 90vh; */
    width: 50vw;
    margin: 1%;
    display:flex;
    flex-wrap:wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.TabHeaderContainer{
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    justify-items: stretch;
    flex-wrap:wrap;
    flex-direction: column;
    gap: 1vh;
    padding: 1%;
}

.DisplayContainer {
    width: 48.8vw;
    max-height: 89vh;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;

}



